<div class="large-8 columns">
  <h4>Agregar película</h4>
  <hr></hr>
  <h4>{{input value=nombre placeholder="Nombre"}}</h4>
  <h5>{{input value=pais placeholder="País"}}</h5>
  <h5>{{input value=autor placeholder="Autor"}}</h5>
  <h5>{{input value=director placeholder="Director"}}</h5>
  <hr></hr>
    <button {{action 'guardar'}}class="button">Guardar</button>
    <button {{action 'cancelar'}}class="button">Cancelar</button>
</div>