<div class="large-8 columns">
  <h4>{{input value=nombre placeholder="Nombre"}}</h4>
  <h5>{{input value=pais placeholder="País"}}</h5>
  <h5>{{input value=autor placeholder="Autor"}}</h5>
  <h5>{{input value=director placeholder="Director"}}</h5>
  <button {{action 'guardar'}}class="button">Guardar</button>
  <button {{action 'eliminar'}}class="button">Eliminar</button>
</div>